.medias {
  
   
    padding: 5px;
    margin: 5px 0;
    background-color: #1b1e2b;
    border-radius: 10px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
  }
  
  

  .posters {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
  }
  
  .title {
    width: 100%;
    
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    color: whitesmoke;
    
  
  }
  .span{
    color:rgb(209, 124, 209)
  }

  .details{
    font-size: 16px;
    text-align: justify;
    margin-top: 3rem;
    color: whitesmoke;
    background-color: rgb(88, 66, 88);
    width: 100%;
    padding: 1rem;
    border-radius: 8px;


  }
  
  .descriptions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
  }

  .video{
    margin-top: 1.5rem;
  }
  .btn:hover{
    background-color: rgb(55, 135, 201) !important;
    color: white !important;

  }

  .clips:hover{
    background-color: rgb(148, 118, 255) !important;
    


  }

  .card:hover{
    background-color: rgb(88, 97, 104) !important;
    color: rgb(41, 18, 18) !important;


  }

  