/*.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }*/
  
  .media:hover {
    background-color: white;
    color: black;
  }

  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 4px 0;
  }
  
  .description {
  
   
   margin: auto;
    margin-bottom: 1rem;
    padding: 0 1px;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
  }

  .card:hover{
    
      background-color: rgb(102, 108, 112) !important;
      color: rgb(255, 255, 255) !important;
  
  
    
  }